@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-lg leading-8 text-black;
  }
  .h4 {
    @apply font-tertiary text-[32px] mb-6 tracking-[10%] uppercase text-stone-400;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase font-bold;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    /* @apply py-8 lg:py-24 lg:h-screen flex items-center; */
    @apply py-2 lg:py-6 h-screen flex items-center;
  }
}

/* body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
} */

/* .container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
  color: #333;
}

.balance {
  margin-bottom: 20px;
}

.balance h2 {
  color: #2ecc71;
}

.transactions ul {
  list-style: none;
  padding: 0;
}

.transactions li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ecf0f1;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-expense label,
.add-expense input,
.add-expense button {
  margin-bottom: 10px;
  display: block;
}

.add-expense button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.add-expense button:hover {
  background-color: #2980b9;
} */
